$font-stack-heading: Druk Text Wide, sans-serif;
$font-stack-subheading: Syne, Open Sans, sans-serif;
$font-stack-base: Open Sans, sans-serif;

$text-xs: 1rem;
$text-sm: 1.2rem;
$text-base: 1.4rem;
$text-lg: 1.6rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-3xl: 2.8rem;
$text-4xl: 3.2rem;
$text-5xl: 3.6rem;
$text-6xl: 4rem;
$text-7xl: 5rem;
$text-8xl: 6rem;

$bold-none: 100;
$bold-lighter: 500;
$bold-light: 600;
$bold: 700;
$bolder: 800;
$bolder-extra: 900;
