// Colors

// Black & White
$color-black: #000000;
$color-white: #ffffff;

// Gray
$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #3a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;

// Green Olive
$color-green-100: #e8f5e8;
$color-green-200: #c6e5c6;
$color-green-300: #a4d5a3;
$color-green-400: #60b65f;
$color-green-500: #1c961a;
$color-green-600: #198717;
$color-green-700: #115a10;
$color-green-800: #0d440c;
$color-green-900: #0b2d08;

// Color Brown
$color-brown-100: #f6f0e6;
$color-brown-200: #e9dbc0;
$color-brown-300: #dbc599;
$color-brown-400: #c0994d;
$color-brown-500: #a56d01;
$color-brown-600: #956201;
$color-brown-700: #634101;
$color-brown-800: #4a3100;
$color-brown-900: #322100;

// Color Yellow
$color-yellow-og: #ffd600;
$color-yellow-100: #fff9e6;
$color-yellow-200: #fff1bf;
$color-yellow-300: #ffe999;
$color-yellow-400: #ffd84d;
$color-yellow-500: #ffc700;
$color-yellow-600: #e6b300;
$color-yellow-700: #997700;
$color-yellow-800: #735a00;
$color-yellow-900: #4d3c00;

// Color Orange
$color-orange-100: #fdf0ee;
$color-orange-200: #fadad4;
$color-orange-300: #f7c4b9;
$color-orange-400: #f29885;
$color-orange-500: #ec6c51;
$color-orange-600: #d46149;
$color-orange-700: #8e4131;
$color-orange-800: #6a3124;
$color-orange-900: #472018;

// Color Dark
$color-dark-100: #eaebec;
$color-dark-200: #caccd0;
$color-dark-300: #a9adb3;
$color-dark-400: #69707a;
$color-dark-500: #293241;
$color-dark-600: #252d3b;
$color-dark-700: #191e27;
$color-dark-800: #12171d;
$color-dark-900: #0c0f14;
